version: "3.9"

services:
  database:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
    networks:
      - net

  api:
    build: ./library_back/
    container_name: django
    volumes:
      - ./library_back:/usr/src/app
    ports:
      - "8000:8000"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    command: >
      sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - database
    networks:
      - net
  
  web:
    build: ./library_front/
    container_name: react
    volumes:
      - ./library_front:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - net

volumes:
  pgdata:

networks:
  net:
    driver: bridge